.mainTitle {
    font-size : 50px ;
    font-family : sans-serif ;
    color : grey ;
    margin-left : 80px ;
    margin-right : 80px ;
    margin-top : 40px ;
}

body {
    background-color : black ;
}
